<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express-Libro de visitas</title>
    <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/ccs/bootstrap.min.css"/>
</head>

<body class="container">
    <h1>
        <a href="/new-entry" class="btn btn-primary pull rigth">
        Escribe en el libro de visitas
        </a>
    </h1>
<%include footer%>