<%include header%>
<%if(entries.length){%>
<% entries.forEach((entry)=>{%>
    <div class="panel panel-default"></div>
    <div class="panel-heading"></div>
    <div class="text-muted pull-rigth">
    <%=entry.created%>
    <div>
        <%entry.title%>
    </div>
    <div class="panel-body">
        <%=entry.body%>
    </div>
</div>
<%})%>
<%}else{%>
<p>No hay vistas todavia <a herf="/new-entry">Agregar una nueva!</a></p>
<%}%>
<%include footer%>