<% include header%>
<style>
div.item {
    position: relative;
    width: 225px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 50px;
    display: inline-block;
}
h2{
    color:white;
}
p{
    font-size: 28px;
    color:white;
}
div img{
    width: 80%;
}
body{
    background: url("/recursos/fondo3.jpg");
}
</style>
<h2>
    Clase  De Armas 
</h2>
<form method="post" role= "from">
<div class="item">
<p><strong> Bate </strong></p>
<img src="/recursos/arma1.jpg"/>
<p>
El bate (del inglés bat) es un objeto utilizado en algunos deportes.
 Según el deporte, el bate tiene un peso y tamaño diferentes. 
Es duro y liso, y comúnmente hecho de madera.
</p>    

</div>
<div class="item">
<p><strong> C4 </strong></p>
<img src="/recursos/arma2.jpg"/>
<p> 
El término ‘composition’ se usa en inglés para cualquier explosivo estable, y la "composition A" y la "composition B" son otras variantes conocidas
</p>    
</div>
<div class="item">
<p><strong> Tijeras de jardin</strong></p>
<img src="/recursos/arma3.jpg"/> 
<p><
   Tijeras de podar.
 Tienen las hojas curvas para hacer cortes limpios y cercanos al tronco    
</p>   
</div>
<div class="item">
<p><strong> Raygun </strong></p>
<img src="/recursos/arma4.jpg"/>    
<p>
El Arma de Rayos Mark II es la versión mejorada del Arma de Rayos
</p>
</div>

</form>
<% include footer %>