<% include header%>
<style>
div.item {
    position: relative;
    width: 300px;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 4px;
    padding-top: 60px;
    display: inline-block;
    
}
h2{
    color: white;
}
p{
    font-size: 28px;
    color: white;
}
div img{
    width: 80%;
}
body{
    background: url("/recursos/fondo2.jpg");
}
</style>
<h2>
    Clase de zoombies  
</h2>
<form method="post" role= "from">
<div class="item">
<p><strong> Zombie Explosivo </strong></p>
<img src="/recursos/zombie2.jpg"/>    
</div>
<div class="item">
<p><strong> Zombie corredor </strong></p>
<img src="/recursos/zombie1.jpg"/>    
</div>
<div class="item">
<p><strong> Zombie esqueleto</strong></p>
<img src="/recursos/zombie3.jpg"/>    
</div>
<div class="item">
<p><strong> Zombie nazi </strong></p>
<img src="/recursos/zombie4.jpg"/>    

</div>

</form>
<% include footer %>