<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express- Libro de vistas </title>
    <link rel ="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstra.min.css"/>
    <style>
    section img{
        width: 30%;
    }
    #header section {
    width: 49.6%;
    display: inline-block;
    vertical-align: middle;
}

#right {
    text-align: center;
}

#left a {
    color: #474747;
    font-size: 20px;
    font-family: Verdana;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    color: red;
    border: 5px;
    border-color: white;
}
</style>

</head>
<body class="container">
<section id="header">
<section id="right">
    <img src="/recursos/logo.jpg" alt="logo" >
</section>
<section id="left">
    <a href="/clase" class="btn bnt-primary pull-right">Clase</a>
    <a href="/armas" class="btn bnt-primary pull-right">Armas</a>
    <a  href="/victimas " class="btn bnt-primary pull-right">victimas</a>
    
</section>